langchain-community==0.3.29
langchain-text-splitters==0.3.11
tiktoken==0.8.0
pypdf==5.1.0
tqdm==4.65.0
unstructured==0.7.0
langchain-huggingface
sentence-transformers
torch
qdrant-client
pydantic
langchain-ollama
